.card_review {
  border-radius: 5px;
  box-shadow: 0px 12px 20px 0px rgba(223, 223, 223, 0.8);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 16px;
  width: fit-content !important;
  max-width: fit-content;

  &_image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 332px;
    height: 332px;
    margin-bottom: 30px;
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #111;
    margin-bottom: 20px;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #999;
    line-height: 22px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #0b162b;
    line-height: 30px;
    font-weight: 300;
    max-width: 332px;
    padding-top: 20px;
  }

  &_stars {
    margin: 30px 0;
    font-size: 20px;
    color: #e48800;
  }

  strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: rgba(11, 22, 43, 0.8);
  }
}
