.insight {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
  border-top: 1px solid #f4f5f6;

  p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: rgba(11, 22, 43, 0.6);
    letter-spacing: 2px;
    padding-bottom: 13px;
  }

  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: #0b162b;
  }
}
