.wrapper {
  min-height: 100vh;
  width: 100%;
}

.course_list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 30px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, auto);
  }
}
